<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>About</title>
    <link rel="stylesheet" href="Styles/nicepage.css" media="screen">
<link rel="stylesheet" href="Styles/About.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.3.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"logo": "images/logo1.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="About">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-palette-1-light-1 u-header" id="sec-975e"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1080" data-image-height="1080">
      <img src="images/logo1.png" class="u-logo-image u-logo-image-1">
    </a>
    <h3 class="u-headline u-text u-text-default u-text-1">
      <a href="/">PenguChat</a>
    </h3>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
        <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-text-shadow-blur u-custom-text-shadow-color u-custom-text-shadow-transparency u-custom-text-shadow-x u-custom-text-shadow-y u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="Home.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/about" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">About</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/rooms" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Rooms</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/learn" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Learn</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/community" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Community</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/news" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">News</a>
</li></ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/rooms" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Rooms</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/learn" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Learn</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/community" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Community</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/news" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">News</a>
</li></ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
  </div></header>
<section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="sec-a4d8">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <h4 class="u-text u-text-1">Introducing...</h4>
    <h1 class="u-text u-text-2">The ecosystem of mental health support</h1>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-20 u-palette-4-light-2 u-repeater-item u-shape-rectangle u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="images/2.png" alt=""></span>
            <h4 class="u-text u-text-body-alt-color u-text-3">Community</h4>
            <p class="u-text u-text-body-alt-color u-text-4">Join our discord servers to be part of a community of like minded people, willing to support and listen to one another. The servers can make use of our discord bot to provide services to the community.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-20 u-palette-4-light-2 u-repeater-item u-shape-rectangle u-video-cover u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="images/3.png" alt=""></span>
            <h4 class="u-text u-text-body-alt-color u-text-5">Sharing</h4>
            <p class="u-text u-text-body-alt-color u-text-6">Users can share and speak out about any issues they have. Using our anonymous chatting service, they will not have to worry about being judged or embarassed. They will be protected and allowed to say what they really want to say.</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-20 u-palette-4-light-2 u-repeater-item u-shape-rectangle u-video-cover u-list-item-3">
          <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-white u-icon-3"><img src="images/4.png" alt=""></span>
            <h4 class="u-text u-text-body-alt-color u-text-7">Verified Consultants</h4>
            <p class="u-text u-text-body-alt-color u-text-8">For those with severe conditions, our community can make use of a verified consultant system, where users can seek professional help from these people and will not get trolled or disrespected.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-2" id="sec-9633">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-text u-text-palette-1-base u-text-1">Our Discord Bot</h1>
    <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
              <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="1080" data-image-height="1080"></div>
            </div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-top-xs u-container-layout-2">
              <h2 class="u-text u-text-default u-text-2">Lil Supporter #6092</h2>
              <p class="u-text u-text-3">Lil Supporter is our discord bot, which offers many features aimed to help people with mental illnesses, providing useful information about mental illnesses, providing the latest mental illness news, and simple chatting functionality. It will say hello back and cheer users up if they type anything negative. It also features some integration with our website, where members can create rooms from the discord bot.</p>
              <a href="https://discord.com/api/oauth2/authorize?client_id=903677780548550707&amp;permissions=8&amp;scope=bot" class="u-btn u-button-style u-btn-1" target="_blank">Add him to your server!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-carousel u-slide u-block-a40d-1" id="carousel_fab5" data-interval="5000" data-u-ride="carousel">
  <ol class="u-absolute-hcenter u-carousel-indicators u-block-a40d-2">
    <li data-u-target="#carousel_fab5" data-u-slide-to="0" class="u-active u-grey-30"></li>
    <li data-u-target="#carousel_fab5" class="u-grey-30" data-u-slide-to="1"></li>
    <li data-u-target="#carousel_fab5" class="u-grey-30" data-u-slide-to="2"></li>
    <li data-u-target="#carousel_fab5" class="u-grey-30" data-u-slide-to="3"></li>
  </ol>
  <div class="u-carousel-inner" role="listbox">
    <div class="u-active u-carousel-item u-clearfix u-palette-1-base u-section-3-1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="128" data-image-height="128">
                <div class="u-container-layout u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">Speaking out</h2>
                  <p class="u-text u-text-2">To those suffering from anything, not specific to mental illnesses, you can use our platform as a place to share and speak out.<br>
                    <br>When speaking out, you will be anonymous. This is a form of protection and comfort, where you will not need to worry about people looking at you differently because they do not have any clue who you are in the first place.<br>
                    <br>Hence, you will be able to be transparent and share your deepest thoughts and feelings.
                  </p>
                  <a href="https://discord.com/api/oauth2/authorize?client_id=903677780548550707&amp;permissions=8&amp;scope=bot" class="u-btn u-button-style u-palette-1-base u-btn-1" target="_blank">Start sharing<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-carousel-item u-clearfix u-palette-1-base u-section-3-2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="748" data-image-height="635">
                <div class="u-container-layout u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">Lending a listening ear</h2>
                  <p class="u-text u-text-2">Our system requires two parties; listeners and sharers. The sharers are the ones voicing out their thoughts and troubles while the listeners are the people that lend a listening ear and try their best to engage with the sharers. This not only allows sharers to voice out their thoughts, but also allows listeners to empathize and learn more about the mindset of the people facing troubles in life.<br>
                  </p>
                  <a href="https://discord.com/api/oauth2/authorize?client_id=903677780548550707&amp;permissions=8&amp;scope=bot" class="u-btn u-button-style u-palette-1-base u-btn-1" target="_blank">Join a room and lend a listening ear<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-carousel-item u-clearfix u-palette-1-base u-section-3-3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="748" data-image-height="635">
                <div class="u-container-layout u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">Discord bot basic AI</h2>
                  <p class="u-text u-text-2">- Responds to hello or equivalent messages<br>- Cheers up when it detects negative words e.g. depressed, sad
                  </p>
                  <h2 class="u-text u-text-default u-text-3">Discord bot commands</h2>
                  <p class="u-text u-text-4">.createroom : bot creates a new room from discord<br>.website : bot redirects user to our website<br>.news : bot sends the latest news related to mental wellness<br>.brain : bot sends the latest brain news<br>.helplines : bot sends helplines to contact<br>.panic : bot guides the user through a panic attack<br>.quote : bot shares inspiring quotes<br>.ping : pings the bot to check its repsonse time<br>.vent : creates a channel for the user to vent and deletes it afterwards
                  </p>
                  <h2 class="u-text u-text-default u-text-5">Discord bot user rating commands</h2>
                  <p class="u-text u-text-6">.pingdb : pings the database that stores user ratings<br>.me : registers user into database / returns user id<br>.userinfo : check the user rating of another user on the server<br>.rate : rate a user after a sharing session (from -5 to 5)<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-carousel-item u-clearfix u-palette-1-base u-section-3-4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="748" data-image-height="635">
                <div class="u-container-layout u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1">Access discord bot services</h2>
                  <p class="u-text u-text-2">If you are a server owner, you can add our bot to your server via the link below. Note the bot will need an admin role to be able to provide some key services like creating channels and deleting them.<br>
                  </p>
                  <a href="https://discord.com/api/oauth2/authorize?client_id=903677780548550707&amp;permissions=8&amp;scope=bot" class="u-btn u-button-style u-palette-1-base u-btn-1" target="_blank">Add him to your server!<br>
                  </a>
                  <p class="u-text u-text-3">If you just want to access the bot's services, you can come join our server via the link below, where the bot will be active in.<br>
                  </p>
                  <a href="https://discord.com/api/oauth2/authorize?client_id=903677780548550707&amp;permissions=8&amp;scope=bot" class="u-btn u-button-style u-palette-1-base u-btn-2" target="_blank">Join our Server<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-a40d-3" href="#carousel_fab5" role="button" data-u-slide="prev">
    <span aria-hidden="true">
      <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-a40d-4" href="#carousel_fab5" role="button" data-u-slide="next">
    <span aria-hidden="true">
      <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
    </span>
    <span class="sr-only">Next</span>
  </a>
</section>
<section class="u-align-center u-clearfix u-white u-section-4" id="sec-5034">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-text u-text-1">Our Team</h1>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-border-2 u-border-grey-75 u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <h5 class="u-text u-text-2">Tang Ming Feng</h5>
            <p class="u-text u-text-3">Web developer</p>
          </div>
        </div>
        <div class="u-align-center u-border-2 u-border-grey-75 u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-2">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <h5 class="u-text u-text-4">Josiah Low</h5>
            <p class="u-text u-text-5">Web Developer</p>
          </div>
        </div>
        <div class="u-align-center u-border-2 u-border-grey-75 u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-3">
          <div class="u-container-layout u-similar-container u-container-layout-3">
            <h5 class="u-text u-text-6">Natalie Hong</h5>
            <p class="u-text u-text-7">Web Developer</p>
          </div>
        </div>
        <div class="u-align-center u-border-2 u-border-grey-75 u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-4">
          <div class="u-container-layout u-similar-container u-container-layout-4">
            <h5 class="u-text u-text-8">James Yap</h5>
            <p class="u-text u-text-9">Discord Bot Developer</p>
          </div>
        </div>
        <div class="u-align-center u-border-2 u-border-grey-75 u-container-style u-list-item u-palette-1-base u-repeater-item u-shape-rectangle u-list-item-5">
          <div class="u-container-layout u-similar-container u-container-layout-5">
            <h5 class="u-text u-text-10">Donald Tan</h5>
            <p class="u-text u-text-11">Discord Bot Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-761d"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">2021 PFD Assignment<br>
      <br>
    </p>
  </div></footer>
</body>
</html>