<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Chat App</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- Styles -->
  <link rel="stylesheet" href="/Styles/normalize.css">
  <link rel="stylesheet" href="/Styles/chat.css">
  <link rel="stylesheet" href="/Styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Nav bar -->
  <nav style="position: sticky; z-index: 3;" class="navbar navbar-expand-lg navbar-custom navbar-light">
    <a class="navbar-brand" href="/index"><img src="/Images/ribbon.png" alt="icon" style="width:60px;"> Chatapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-brand">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed">News</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Learn
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/illness">About mental illnesses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">About hobbies</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
      <ul class="navbar-nav ml-auto navbar-brand">
        <li>
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="illness-content">
    <a id="depression_about">
      <h2 class="page-title">Depression</h2>
      <div class="content">
        <h3 class="sub-title">About</h3>
        <p>
          Depression is a common mental disorder and one of the main causes of disability.
          In 2021, there is an estimated 280 million people globally that are affected by depression, with a
          higher percentage of women being affected.
          This has increased from 264 million in year 2019.

        </p>

        <h3 class="sub-title">Characteristics</h3>
        <p>
          Some symptoms that one may experience during a depressive episode includes:
          <li>depressed mood (feeling of sadness, irritability, emptyness)</li>
          <li>loss of pleasure </li>
          <li>loss of interest in activities (previously liked as well)</li>
          <li>feelings of guilt</li>
          <li>low self worth</li>
          <li>disturbed sleep or appetite</li>
          <li>tiredness</li>
          <li>poor concentration</li>
          <li> hopelessness about the future</li>
          <li>thoughts about dying or suicide</li>
          for most of the day, nearly every day or for at least two weeks

          Some may express their mood changes in the form of bodily symptoms, like pain and fatigue.
          They may have multiple physical complaints with no apparent physical cause.

          These may be long-lasting or recurrent, substantially impairing one's ability to function at work or
          school and cope with daily activities.

          A depressive episode can be categorized as mild, moderate or severe depending on the number and
          severity of the symptoms, as well as the impact on the individual's functioning.
        </p>
        <h3 class="sub-title">Measures</h3>
        <p>
          There are prevention programmes for both adults and children. Some programmes for adults include
          psychosocial assistance after
          disasters and conflicts. Some programmes for children include protection and psychological support
          following physical and sexual abuse. These programmes
          have shown to reduce depression.
        </p>
        <br>
        <p>
          Some medical treatments include:
          <li>Mild to moderate: Treated with talking therapy, such as cognitive behaviour therapy or psychotherapy
          </li>
          <br>
          Moderate to severe:
          <li>Antidepressants can be an effective form of treatment but not the first line of treatment</li>
          <li>Should not be used to treat depression in children</li>
          <li>Not the first line of treatment in adolescents</li>

        </p>
      </div>
    </a>
  </div>

  <div class="illness-content">
    <a id="bipolar_about">
      <h2 class="page-title">Bipolar Disorder</h2>
      <div class="content">
        <h3 class="sub-title">About</h3>
        <p>
          Bipolar disorder affects 45 million people worldwide. It typically consists of both manic and 
          depressive episodes separated by periods of normal mood. 
          
          People who have manic attacks but do experience depressive episodes are also classified to have 
          bipolar disorder.
        </p>

        <h3 class="sub-title">Characteristics</h3>
        <p>
          During manic episodes, they may experience:
          <li>Elevated or irritable mood</li>
          <li>Over-activity</li>
          <li>Rapid Speech</li>
          <li>Inflated self-esteem</li>
          <li>Decreased need for sleep</li>
        </p>

        <h3 class="sub-title">Measures</h3>
        <p>
          Treatment includes during the acute phase of bipolar disorder as well as the prevention of relapse
          <li>Medicine that stabilizes mood</li>
          <li>Psychosocial support is an important component</li>
        </p>
      </div>
    </a>
  </div>
  <div class="illness-content">
    <a id="schizo-about">
      <h2 class="page-title">Schizophrenia and other psychoses</h2>
      <div class="content">
        <h3 class="sub-title">About</h3>
        <p>
          This is a more severe mental disorder, affecting 20 million people worldwide.
          This disorder may make it difficult for them to work or study normally. Stigma and discrimination in society
          can result in lack of access to health and social services which delays treatment. These people may have a high 
          risk of exposure to violations of their own human rights such as long term confinement in instituitions. Disorders as such 
          typically begins in late adolescence or early adulthood.
        </p>

        <h3 class="sub-title">Characteristics</h3>
        <p>
          Psychoses, including Schizophrenia, are characterized by:
          <li>Distortions in thinking, perception, emotions, language, sense of self and behavior</li>
          Common psychotic experiences include:
          <li>Hallucinations (Hearing, seeing or feeling things that are not there)</li>
          <li>Delusions (Fixed false beliefs or suspicions that are firmly held even when there is evidence to the contrary)</li>
        </p>

        <h3 class="sub-title">Measures</h3>
        <p>
          Treatment for Schizophrenia and other psychoses involves both medicine and psychosocial support to be effective. 
          With appropriate treatment and social support, affected people are able to lead a productive life and be integrated into society.
          There are also facilitations for assisted living, supported housing and supported employment. 
          These facilitations can act as a base for which people with severe mental disorders, including Schizophrenia can achieve numerous 
          recovery goals as they often face difficulty in obtaining or retaining a place to live and having a stable job.
        </p>
      </div>
    </a>
  </div>
  <div class="illness-content">
    <a id="dementia_about">
      <h2 class="page-title">Dementia</h2>
      <div class="content">
        <h3 class="sub-title">About</h3>
        <p>
          Dementia is not a specific disease but is rather a general term for the impaired ability to remember,
          think, or make decisions that interferes with doing everyday activities. Alzheimer's disease is the
          most common type of dementia. Though dementia mostly affects older adults, it is not a part of normal aging.
        </p>

        <h3 class="sub-title">What are the most common types of dementia?</h3>
        <p>
          What are the most common types of dementia?
          <li>
            <b>Alzheimer's disease.</b> This is the most common cause of dementia, accounting for 60 to 80 percent of
            cases. It is
            caused by specific changes in the brain. The trademark symptom is trouble remembering recent events, such as
            a conversation
            that occurred minutes or hours ago, while difficulty remembering more distant memories occurs later in the
            disease.
            Other concerns like difficulty with walking or talking or personality changes also come later. Family
            history is the
            most important risk factor. Having a first-degree relative with Alzheimer's disease increases the risk of
            developing
            it by 10 to 30 percent.
          </li>
          <li>
            <b>Vascular dementia.</b> About 10 percent of dementia cases are linked to strokes or other issues with
            blood flow to the
            brain. Diabetes, high blood pressure and high cholesterol are also risk factors. Symptoms vary depending on
            the area
            and size of the brain impacted. The disease progresses in a step-wise fashion, meaning symptoms will
            suddenly get worse
            as the individual gets more strokes or mini-strokes.
          </li>
          <li>
            <b>Lewy body dementia.</b> In addition to more typical symptoms like memory loss, people with this form of
            dementia may
            have movement or balance problems like stiffness or trembling. Many people also experience changes in
            alertness
            including daytime sleepiness, confusion or staring spells. They may also have trouble sleeping at night or
            may experience
            visual hallucinations (seeing people, objects or shapes that are not actually there).
          </li>
          <li>
            <b>Fronto-temporal dementia.</b> This type of dementia most often leads to changes in personality and
            behavior because of
            the part of the brain it affects. People with this condition may embarrass themselves or behave
            inappropriately. For
            instance, a previously cautious person may make offensive comments and neglect responsibilities at home or
            work.
            There may also be problems with language skills like speaking or understanding.
          </li>
          <li>
            <b>Mixed dementia.</b> Sometimes more than one type of dementia is present in the brain at the same time,
            especially in
            people aged 80 and older. For example, a person may have Alzheimer's disease and vascular dementia. It is
            not always
            obvious that a person has mixed dementia since the symptoms of one type of dementia may be most prominent or
            may overlap
            with symptoms of another type. Disease progression may be faster than with one kind of dementia.
          </li>
          <li>
            <b>Reversible causes.</b> People who have dementia may have a reversible underlying cause such as side
            effect of
            medication, increased pressure in the brain, vitamin deficiency, and thyroid hormone imbalance. Medical
            providers should screen
            for reversible causes in patients who are concerning for dementia.
          </li>
        </p>

        <h3 class="sub-title">Signs and symptoms of dementia</h3>
        <p>
          Because dementia is a general term, its symptoms can vary widely from person to person. People with dementia
          have
          problems with:

          <li>Memory</li>
          <li>Attention</li>
          <li>Communication</li>
          <li>Reasoning, judgment, and problem solving</li>
          <li>Visual perception beyond typical age-related changes in vision</li>
          Signs that may point to dementia include:
          <li>Getting lost in a familiar neighborhood</li>
          <li>Using unusual words to refer to familiar objects</li>
          <li>Forgetting the name of a close family member or friend</li>
          <li>Forgetting old memories</li>
          <li>Not being able to complete tasks independently</li>
        </p>

        <h3 class="sub-title">What increases the risk for dementia?</h3>
        <p>
          <li><b>Age</b></li>
          The strongest known risk factor for dementia is increasing age, with most cases affecting those of 65 years
          and
          older
          <li><b>Family history</b></li>
          Those who have parents or siblings with dementia are more likely to develop dementia themselves.
          <li><b>Race/ethnicity</b></li>
          Older African Americans are twice more likely to have dementia than whites. Hispanics 1.5 times more likely to
          have
          dementia than whites.
          <li><b>Poor heart health</b></li>
          High blood pressure, high cholesterol, and smoking increase the risk of dementia if not treated properly.
          <li><b>Traumatic brain injury</b></li>
          Head injuries can increase the risk of dementia, especially if they are severe or occur repeatedly.
        </p>

        <h3 class="sub-title">How is dementia treated?</h3>
        <p>
          Treatment of dementia depends on the underlying cause. Neurodegenerative dementias, like Alzheimer's disease,
          have no
          cure, though there are medications that can help protect the brain or manage symptoms such as anxiety or
          behavior
          changes. Research to develop more treatment options is ongoing.
          <br>
          Leading a healthy lifestyle, including regular exercise, healthy eating, and maintaining social contacts,
          decreases
          chances of developing chronic diseases and may reduce number of people with dementia.
        </p>

        <h3 class="sub-title">What to do if a loved one is suspected of having dementia?</h3>
        <p>
          <li><b>Discuss with loved one.</b></li> Talk about seeing a medical provider about the observed changes soon.
          Talk about the issue of driving and always carrying an ID.
          <li><b>Medical assessment.</b></li> Be with a provider that you are comfortable with. Ask about the Medicare
          Annual Wellness exam.
          <li><b>Family Meeting.</b></li> Start planning, and gather documents like the Health Care Directive, Durable
          Power of Attorney for Health Care, Estate Plan.
        </p>

      </div>
    </a>
  </div>

  <div class = "illness-content">
    <a id="dd_about">
      <h2 class="page-title">Developmental Disorders</h2>
      <div class="content"></div>
      <h3 class="sub-title">About</h3>
      <p>
        Developmental disorders are a group of conditions due to an impairment in physical, learning, language, or
        behavior
        areas. These conditions begin during the developmental period, may impact day-to-day functioning, and usually
        last
        throughout a person's lifetime.
      </p>

      <h3 class="sub-title">Types of Developmental disorders, and who is affected</h3>
      <p>
        Developmental disabilities occur among all racial, ethnic, and socioeconomic groups. Recent estimates in the
        United
        States show that about one in six, or about 17%, of children aged 3 through 17 years have one or more
        developmental
        disabilities, such as:

        <li><a href="https://www.cdc.gov/ncbddd/adhd/index.html">ADHD</a>,</li>
        <li><a href="https://www.cdc.gov/ncbddd/autism/index.html">autism spectrum disorder</a>,</li>
        <li><a href="https://www.cdc.gov/ncbddd/cp/index.html">cerebral palsy</a>,</li>
        <li><a href="https://www.cdc.gov/ncbddd/hearingloss/index.html">hearing loss</a>,</li>
        <li><a href="https://www.cdc.gov/ncbddd/childdevelopment/facts-about-intellectual-disability.html">intellectual
            disability</a>,</li>
        <li>learning disability,</li>
        <li><a href="https://www.cdc.gov/ncbddd/childdevelopment/facts-about-vision-loss.html">vision impairment</a>,
        </li>
        <li>and other developmental delays.</li>
      </p>

      <h3 class="sub-title">Causes and Risk Factors of Developmental Disorders</h3>
      <p>
        Developmental disabilities begin anytime during the developmental period and usually last throughout a person's
        lifetime. Most developmental disabilities begin before a baby is born, but some can happen after birth because
        of
        injury, infection, or other factors.
        <br>
        Most developmental disabilities are thought to be caused by a complex mix of factors. These factors include
        genetics;
        parental health and behaviors (such as smoking and drinking) during pregnancy; complications during birth;
        infections
        the mother might have during pregnancy or the baby might have very early in life; and exposure of the mother or
        child to
        high levels of environmental toxins, such as lead. For some developmental disabilities, such as fetal alcohol
        syndrome,
        which is caused by drinking alcohol during pregnancy, we know the cause. But for most, we don't.
      </p>

    </a>
  </div>

  <div class="illness-content">
    <a id="quiz">
      <div class="container">
        <div id="home" class="flex-column flex-center">
          <h2><b>Test your Mental Health Awareness</b></h2>
          <br>
          <div id="quiz_instructions">
            <p>Based on findings from the Singapore Mental Health Study conducted by the Insitute of Mental Health
              in 2016, 1 in 7 people in Singapore has experienced a mental health problem at some point in their lives.
              Ill mental health can significantly impact people's day to day lives, particularly in the workplace,
              because so many people still struggle to fully grasp the topic of mental health and understand how to
              help those with mental health issues feel encouraged and supported in their role.</p>
            <p><b>Try our quick quiz below to test your mental health awareness</b></p>
          </div>
          <a href="/game" class="btn container-h">Start</a>
  
        </div>
      </div>
    </a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
  <!-- Bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>