<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Learn</title>
    <link rel="stylesheet" href="Styles/nicepage.css" media="screen">
<link rel="stylesheet" href="Styles/Learn.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.3.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"logo": "images/logo1.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Learn">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-palette-1-light-1 u-header" id="sec-975e"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1080" data-image-height="1080">
          <img src="images/logo1.png" class="u-logo-image u-logo-image-1">
        </a>
        <h3 class="u-headline u-text u-text-default u-text-1">
          <a href="/">ChatApp</a>
        </h3>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-text-shadow-blur u-custom-text-shadow-color u-custom-text-shadow-transparency u-custom-text-shadow-x u-custom-text-shadow-y u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/index" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/about" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">About</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/rooms" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Rooms</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/learn" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Learn</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/community" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Community</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/index" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/rooms" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Rooms</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/learn" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Learn</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/community" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Community</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-827f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
          <ul class="u-border-2 u-border-palette-1-base u-spacing-10 u-tab-list u-unstyled u-tab-list-1" role="tablist">
            <li class="u-tab-item u-tab-item-1" role="presentation">
              <a class="active u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Depression</a>
            </li>
            <li class="u-tab-item u-tab-item-2" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-2" id="link-tab-6b0c" href="#tab-6b0c" role="tab" aria-controls="tab-6b0c" aria-selected="false">Bipolar Disorder<br>
              </a>
            </li>
            <li class="u-tab-item u-tab-item-3" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-3" id="link-tab-6965" href="#tab-6965" role="tab" aria-controls="tab-6965" aria-selected="false">Schizophrenia<br>
              </a>
            </li>
            <li class="u-tab-item u-tab-item-4" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-4" id="link-tab-2d27" href="#tab-2d27" role="tab" aria-controls="tab-2d27" aria-selected="false">Dementia<br>
              </a>
            </li>
            <li class="u-tab-item u-tab-item-5" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-5" id="link-tab-d696" href="#tab-d696" role="tab" aria-controls="tab-d696" aria-selected="false">Developmental Disorders<br>
              </a>
            </li>
            <li class="u-tab-item u-tab-item-6" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-6" id="link-tab-f0d9" href="#tab-f0d9" role="tab" aria-controls="tab-f0d9" aria-selected="false">Quiz<br>
              </a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-default u-text-1">About</h2>
                <p class="u-text u-text-2">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-1">Depression is a common mental disorder and one of the main causes of disability. In 2021, there is an estimated 280 million people globally that are affected by depression, with a higher percentage of women being affected. This has increased from 264 million in year 2019.</a>
                </p>
                <h2 class="u-text u-text-default u-text-3">Characteristics</h2>
                <p class="u-text u-text-4">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-2">
                    <br>Some symptoms that one may experience during a depressive episode includes:<br>depressed mood (feeling of sadness, irritability, emptyness)<br>loss of pleasure<br>loss of interest in activities (previously liked as well)<br>feelings of guilt<br>low self worth<br>disturbed sleep or appetite<br>tiredness<br>poor concentration<br>hopelessness about the future<br>thoughts about dying or suicide<br>for most of the day, nearly every day or for at least two weeks Some may express their mood changes in the form of bodily symptoms, like pain and fatigue. They may have multiple physical complaints with no apparent physical cause. These may be long-lasting or recurrent, substantially impairing one's ability to function at work or school and cope with daily activities. A depressive episode can be categorized as mild, moderate or severe depending on the number and severity of the symptoms, as well as the impact on the individual's functioning.
                  </a>
                </p>
                <p class="u-text u-text-default u-text-5"></p>
                <h2 class="u-text u-text-default u-text-6">Measures</h2>
                <p class="u-text u-text-7">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">
                    <br>There are prevention programmes for both adults and children. Some programmes for adults include psychosocial assistance after disasters and conflicts. Some programmes for children include protection and psychological support following physical and sexual abuse. These programmes have shown to reduce depression.<br>Some medical treatments include:<br>Mild to moderate: Treated with talking therapy, such as cognitive behaviour therapy or psychotherapy<br>
                    <br>Moderate to severe:Antidepressants can be an effective form of treatment but not the first line of treatment<br>Should not be used to treat depression in children<br>Not the first line of treatment in adolescents<br>
                  </a>
                </p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-6b0c" role="tabpanel" aria-labelledby="link-tab-6b0c">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-text u-text-default u-text-8">About</h2>
                <p class="u-text u-text-9">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-4">
                    <br>Bipolar disorder affects 45 million people worldwide. It typically consists of both manic and depressive episodes separated by periods of normal mood. People who have manic attacks but do experience depressive episodes are also classified to have bipolar disorder.
                  </a>
                </p>
                <h2 class="u-text u-text-default u-text-10">Characteristics</h2>
                <p class="u-text u-text-11">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-5">
                    <br>During manic episodes, they may experience:<br>Elevated or irritable mood<br>Over-activity<br>Rapid Speech<br>Inflated self-esteem<br>Decreased need for sleep<br>
                  </a>
                </p>
                <h2 class="u-text u-text-default u-text-12">Measures</h2>
                <p class="u-text u-text-13">
                  <a id="bipolar_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-6">
                    <br>Treatment includes during the acute phase of bipolar disorder as well as the prevention of relapse<br>Medicine that stabilizes mood<br>Psychosocial support is an important component<br>
                  </a>
                </p>
                <p class="u-text u-text-default u-text-14"></p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-6965" role="tabpanel" aria-labelledby="link-tab-6965">
              <div class="u-container-layout u-container-layout-3">
                <h2 class="u-text u-text-default u-text-15">About</h2>
                <p class="u-text u-text-16">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-7">
                    <br>This is a more severe mental disorder, affecting 20 million people worldwide. This disorder may make it difficult for them to work or study normally. Stigma and discrimination in society can result in lack of access to health and social services which delays treatment. These people may have a high risk of exposure to violations of their own human rights such as long term confinement in instituitions. Disorders as such typically begins in late adolescence or early adulthood.
                  </a>
                </p>
                <h2 class="u-text u-text-default u-text-17">Characteristics</h2>
                <p class="u-text u-text-18">
                  <a id="schizo-about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-8">
                    <br>Psychoses, including Schizophrenia, are characterized by:<br>Distortions in thinking, perception, emotions, language, sense of self and behavior<br>Common psychotic experiences include:Hallucinations (Hearing, seeing or feeling things that are not there)<br>Delusions (Fixed false beliefs or suspicions that are firmly held even when there is evidence to the contrary)<br>
                  </a>
                </p>
                <h2 class="u-text u-text-default u-text-19">Measures</h2>
                <p class="u-text u-text-20">
                  <a id="bipolar_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-9">
                    <br>Treatment for Schizophrenia and other psychoses involves both medicine and psychosocial support to be effective. With appropriate treatment and social support, affected people are able to lead a productive life and be integrated into society. There are also facilitations for assisted living, supported housing and supported employment. These facilitations can act as a base for which people with severe mental disorders, including Schizophrenia can achieve numerous recovery goals as they often face difficulty in obtaining or retaining a place to live and having a stable job.<br>
                  </a>
                </p>
                <p class="u-text u-text-default u-text-21"></p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-4" id="tab-2d27" role="tabpanel" aria-labelledby="link-tab-2d27">
              <div class="u-container-layout u-container-layout-4">
                <h2 class="u-text u-text-default u-text-22">About</h2>
                <p class="u-text u-text-23">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-10">
                    <br>Dementia is not a specific disease but is rather a general term for the impaired ability to remember, think, or make decisions that interferes with doing everyday activities. Alzheimer's disease is the most common type of dementia. Though dementia mostly affects older adults, it is not a part of normal aging.
                  </a>
                </p>
                <h2 class="u-text u-text-default u-text-24">Characteristics</h2>
                <p class="u-text u-text-25">
                  <a id="schizo-about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-11">
                    <br>
                    <br><b>Alzheimer's disease.</b>&nbsp;This is the most common cause of dementia, accounting for 60 to 80 percent of cases. It is caused by specific changes in the brain. The trademark symptom is trouble remembering recent events, such as a conversation that occurred minutes or hours ago, while difficulty remembering more distant memories occurs later in the disease. Other concerns like difficulty with walking or talking or personality changes also come later. Family history is the most important risk factor. Having a first-degree relative with Alzheimer's disease increases the risk of developing it by 10 to 30 percent.<br><b>Vascular dementia.</b>&nbsp;About 10 percent of dementia cases are linked to strokes or other issues with blood flow to the brain. Diabetes, high blood pressure and high cholesterol are also risk factors. Symptoms vary depending on the area and size of the brain impacted. The disease progresses in a step-wise fashion, meaning symptoms will suddenly get worse as the individual gets more strokes or mini-strokes.<br><b>Lewy body dementia.</b>&nbsp;In addition to more typical symptoms like memory loss, people with this form of dementia may have movement or balance problems like stiffness or trembling. Many people also experience changes in alertness including daytime sleepiness, confusion or staring spells. They may also have trouble sleeping at night or may experience visual hallucinations (seeing people, objects or shapes that are not actually there).<br><b>Fronto-temporal dementia.</b>&nbsp;This type of dementia most often leads to changes in personality and behavior because of the part of the brain it affects. People with this condition may embarrass themselves or behave inappropriately. For instance, a previously cautious person may make offensive comments and neglect responsibilities at home or work. There may also be problems with language skills like speaking or understanding.<br><b>Mixed dementia.</b>&nbsp;Sometimes more than one type of dementia is present in the brain at the same time, especially in people aged 80 and older. For example, a person may have Alzheimer's disease and vascular dementia. It is not always obvious that a person has mixed dementia since the symptoms of one type of dementia may be most prominent or may overlap with symptoms of another type. Disease progression may be faster than with one kind of dementia.<br><b>Reversible causes.</b>&nbsp;People who have dementia may have a reversible underlying cause such as side effect of medication, increased pressure in the brain, vitamin deficiency, and thyroid hormone imbalance. Medical providers should screen for reversible causes in patients who are concerning for dementia.<br>
                  </a>
                </p>
                <h2 class="u-text u-text-default u-text-26">Measures</h2>
                <p class="u-text u-text-27">
                  <a id="bipolar_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-12">
                    <br>Treatment for Schizophrenia and other psychoses involves both medicine and psychosocial support to be effective. With appropriate treatment and social support, affected people are able to lead a productive life and be integrated into society. There are also facilitations for assisted living, supported housing and supported employment. These<br>Treatment of dementia depends on the underlying cause. Neurodegenerative dementias, like Alzheimer's disease, have no cure, though there are medications that can help protect the brain or manage symptoms such as anxiety or behavior changes. Research to develop more treatment options is ongoing.<br>Leading a healthy lifestyle, including regular exercise, healthy eating, and maintaining social contacts, decreases chances of developing chronic diseases and may reduce number of people with dementia.<br>&nbsp;facilitations can act as a base for which people with severe mental disorders, including Schizophrenia can achieve numerous recovery goals as they often face difficulty in obtaining or retaining a place to live and having a stable job.<br>
                  </a>
                </p>
                <p class="u-text u-text-default u-text-28"></p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-5" id="tab-d696" role="tabpanel" aria-labelledby="link-tab-d696">
              <div class="u-container-layout u-container-layout-5">
                <h2 class="u-text u-text-default u-text-29">About</h2>
                <p class="u-text u-text-30">
                  <a id="depression_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-btn-13"> Developmental disorders are a group of conditions due to an impairment in physical, learning, language, or behavior areas. These conditions begin during the developmental period, may impact day-to-day functioning, and usually last throughout a person's lifetime.</a>
                </p>
                <h2 class="u-text u-text-default u-text-31">Characteristics</h2>
                <p class="u-text u-text-32">
                  <a id="dd_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-14">Developmental disabilities occur among all racial, ethnic, and socioeconomic groups. Recent estimates in the United States show that about one in six, or about 17%, of children aged 3 through 17 years have one or more developmental disabilities, such as:</a>
                  <br>
                  <a href="https://www.cdc.gov/ncbddd/adhd/index.html" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-15">ADHD</a>,<br>
                  <a href="https://www.cdc.gov/ncbddd/autism/index.html" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-16">autism spectrum disorder</a>,<br>
                  <a href="https://www.cdc.gov/ncbddd/cp/index.html" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-17">cerebral palsy</a>,<br>
                  <a href="https://www.cdc.gov/ncbddd/hearingloss/index.html" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-18">hearing loss</a>,<br>
                  <a href="https://www.cdc.gov/ncbddd/childdevelopment/facts-about-intellectual-disability.html" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-19">intellectual disability</a>,<br>learning disability,<br>
                  <a href="https://www.cdc.gov/ncbddd/childdevelopment/facts-about-vision-loss.html" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-20">vision impairment</a>,<br>and other developmental delays.<br>
                </p>
                <h2 class="u-text u-text-default u-text-33">Measures</h2>
                <p class="u-text u-text-default u-text-34"></p>
                <p class="u-text u-text-35">
                  <a id="bipolar_about" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-21"> Developmental disabilities begin anytime during the developmental period and usually last throughout a person's lifetime. Most developmental disabilities begin before a baby is born, but some can happen after birth because of injury, infection, or other factors.<br>Most developmental disabilities are thought to be caused by a complex mix of factors. These factors include genetics; parental health and behaviors (such as smoking and drinking) during pregnancy; complications during birth; infections the mother might have during pregnancy or the baby might have very early in life; and exposure of the mother or child to high levels of environmental toxins, such as lead. For some developmental disabilities, such as fetal alcohol syndrome, which is caused by drinking alcohol during pregnancy, we know the cause. But for most, we don't.<br>
                  </a>
                </p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-6" id="tab-f0d9" role="tabpanel" aria-labelledby="link-tab-f0d9">
              <div class="u-container-layout u-container-layout-6">
                <p class="u-text u-text-36">
                  <a id="quiz" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-22">
                    <br>Based on findings from the Singapore Mental Health Study conducted by the Insitute of Mental Health in 2016, 1 in 7 people in Singapore has experienced a mental health problem at some point in their lives. Ill mental health can significantly impact people's day to day lives, particularly in the workplace, because so many people still struggle to fully grasp the topic of mental health and understand how to help those with mental health issues feel encouraged and supported in their role.<b>Try our quick <a href = "/quiz">quiz</a> below to test your mental health awareness</b>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-761d"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">2021 PFD Assignment<br>
          <br>
        </p>
      </div></footer>
  </body>
</html>