<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Room</title>
    <link rel="stylesheet" href="Styles/nicepage.css" media="screen">
<link rel="stylesheet" href="Styles/Room.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <script defer src="socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <meta name="generator" content="Nicepage 4.3.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    <script>
      const roomName = "<%= roomName %>"
    </script>
  
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"logo": "images/logo1.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Room">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-palette-1-light-1 u-header" id="sec-975e"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1080" data-image-height="1080">
          <img src="images/logo1.png" class="u-logo-image u-logo-image-1">
        </a>
        <h3 class="u-headline u-text u-text-default u-text-1">
          <a href="/">PenguChat</a>
        </h3>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-text-shadow-blur u-custom-text-shadow-color u-custom-text-shadow-transparency u-custom-text-shadow-x u-custom-text-shadow-y u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="Home.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="About.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">About</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="Rooms.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Rooms</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="blog/blog.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Blog</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="Learn.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Learn</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="Community.html" style="padding: 10px 0px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Community</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Rooms.html" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Rooms</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="blog/blog.html" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Blog</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Learn.html" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Learn</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Community.html" style="padding: 10px 20px; text-shadow: 2px -2px 8px rgba(128,128,128,1);">Community</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-71a3">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
      <div class="chat-container">
        <header class="chat-header">
          <h1><i class="fas fa-smile"></i>Sharing session</h1>
          <a id="leave-btn" class="btn" href="search.html">Leave Room</a>
        </header>
        <main class="chat-main">
          <div class="chat-sidebar">
            <h3><i class="fas fa-comments"></i> Room Name:</h3>
            <h2 id="room-name">
              <%= roomName %>
            </h2>
            <h3><i class="fas fa-users"></i> Users</h3>
            <ul id="users"></ul>
          </div>
          <div id="chat-messages"></div>
        </main>
        <div class="chat-form-container">
          <form id="chat-form">
            <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
            <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
          </form>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-761d"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">2021 PFD Assignment<br>
          <br>
        </p>
      </div></footer>
  </body>
</html>