.blue{
    color:#1f98ff
}

.font{
    font-family: proxima nova;
}

.content{
    text-align: left;
    width: 800px;
    font-size: 18px;
}

.list{
    text-align: left;
    width: 800px;
}

.post{
    padding: 5% 5%;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}