.u-section-1 .u-sheet-1 {
  min-height: 25vw;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  text-align: center;
  width: 905px;
  margin: 69px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 52px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 440px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("../Images/mascot2.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-1 .u-image-1 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -38px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 134px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  text-align: center;
  width: 905px;
  margin: 49px auto 0;
}

.u-section-2 .u-slider-1 {
  min-height: 337px;
  width: 763px;
  height: auto;
  margin: 42px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-image-1 {
  width: 174px;
  height: 174px;
  background-image: url("../Images/ddddddd.jpg");
  background-position: 50% 50%;
  margin: 27px 403px 0 27px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-align: center;
  margin: -140px 27px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-align: center;
  margin: 10px 193px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-align: center;
  margin: 10px 97px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 43px auto 0 39px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 66px;
}

.u-section-2 .u-image-2 {
  width: 174px;
  height: 174px;
  background-image: url("../Images/3.jpg");
  background-position: 50% 50%;
  margin: 27px 417px 0 40px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  text-align: center;
  margin: -140px 0 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  text-align: center;
  margin: 10px 192px 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  text-align: center;
  margin: 10px 110px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 43px auto 0 40px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 63px;
}

.u-section-2 .u-image-3 {
  width: 174px;
  height: 174px;
  background-image: url("../Images/1.jpg");
  background-position: 50% 50%;
  margin: 27px auto 0 21px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  text-align: center;
  margin: -140px 44px 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  text-align: center;
  margin: 10px 210px 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  text-align: center;
  margin: 10px 114px 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 43px auto 0 78px;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-top: -173px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 66px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -173px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 66px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -173px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
    margin-right: 346px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 152px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 0;
    margin-right: 346px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 151px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 146px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 94px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -26px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 146px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 93px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -26px;
    margin-right: 68px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 102px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -26px;
    margin-right: 70px;
  }
}