@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #4f794e;
	--dark-color-b: #5e8066;
	--light-color: #e6ffe7;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

#msg{
  position: relative;
  width: 70%;
  left:10%; 
  top:-50px;
  color: black;
  margin: 16px 8px 0 auto;
}

#chat-messages {
	max-height: 500px;
	overflow-y: scroll;
}

#chat-messages .message {
	padding: 10px;
  margin: 15px;
	margin-bottom: 15px;
	background-color: lightsteelblue;
	border-radius: 5px;
	overflow-wrap: break-word;
}

#chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

#chat-messages .message .meta span {
	color: #777;
}

.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-group-1 {
  min-height: 147px;
  height: auto;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  text-align: center;
  margin: 43px 63px 0 auto;
  padding: 14px 26px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  margin: -57px auto 0 37px;
}

.u-section-1 .u-group-2 {
  width: 800px;
  min-height: 671px;
  height: auto;
  margin: 1px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 524px;
  width: 756px;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 696px;
  min-height: 71px;
  margin: 63px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 26px;
  padding-right: 26px;
}

.u-section-1 .u-text-2 {
  margin: 12px 29px 0;
}

.u-section-1 .u-group-5 {
  background-image: none;
  min-height: 75px;
  width: 756px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 16px 8px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -36px 138px 0 119px;
}

.u-section-1 .u-group-6 {
  width: 304px;
  min-height: 594px;
  height: auto;
  margin: -640px auto 60px 28px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 14px auto 0 106px;
}

.u-section-1 .u-group-7 {
  width: 304px;
  min-height: 408px;
  height: auto;
  margin: 14px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 5px 0;
  max-height: 500px;
  overflow-y: scroll;
}

#start-btn{
	display: block;
	/* color: #d9534f; */
	height: 40px;
	width: 50px;
	z-index: 2;
  color: black;
}
.u-section-1 .u-group-8 {
  min-height: 44px;
  height: auto;
  width: 280px;
  margin: 19px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 0 0 0 auto;
  padding: 4px 23px 4px 22px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4667em;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: -39px auto 0 8px;
}

.u-section-1 .u-group-9 {
  min-height: 46px;
  width: 304px;
  height: auto;
  margin: 12px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 4px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    margin-right: 0;
    padding-right: 49px;
    padding-left: 47px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -67px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -640px;
  }

  .u-section-1 .u-group-7 {
    margin-left: 10px;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-group-9 {
    margin-left: 10px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-group-5 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 50px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -47px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 73px;
  }
}
