* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-custom {
  background-color: #018957;
}

nav{
  top: 0;
  width:100%;
}

body {
    flex-direction: column;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 100%;
  }

  .page-title{
    padding-top: 2%;
  }


/* Home page */
.row-h{
  display: flex;
  flex-direction: row;
}
.container-h{
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  
}
.container-h h2{
  display: flex;
  justify-content: center;
  text-align: center;
}
.container-h img{
  display: flex;
  justify-content: center;

  margin: auto;
}
.container-h .btn-h{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.container-h:hover, .btn:focus, .btn:active{
  box-shadow: 0 0 20px rgb(225, 245, 179);
  background-color: #c7c7cc;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.container-h .h2{
  margin: 0 10px 10px;
}

.btn-h{
  position: relative;
  height: 50px;
  width: 300px;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  
}

@media only screen and (max-width: 768px){
  .row-h{
    display: flex;
    flex-direction: column;
  }
}


/* chat */
  #message-container {
    width: 80%;
    max-width: 1200px;
  }
  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }
  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }
  #send-container {
    position: fixed;
    padding-bottom: 30px;
    justify-content: center;
    bottom: 0;
    left: 10%;
    right: 10%;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }
  #message-input {
    width: 80%;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 1%;
    margin: 1%;
  }

  .chat-container{
    width:100%;
    height:auto;
  }

  .btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
  }
  
  /* Chat Page */
  
  .chat-container {
    max-width: 1100px;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
  }
  
  .chat-header {
    background: var(--dark-color-a);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .chat-sidebar {
    background: var(--dark-color-b);
    background-color: #018957;
    color: white;
    padding: 20px 20px 60px;
    overflow-y: scroll;
  }
  
  .chat-sidebar h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .chat-sidebar h3 {
    margin-bottom: 15px;
  }
  
  .chat-sidebar ul li {
    padding: 10px 0;
  }
  
  .chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
  }
  
  .chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--light-color);
    border-radius: 5px;
  }
  
  .chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
  }
  
  .chat-messages .message .meta span {
    color: #777;
  }
  
  .chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
  }
  
  .chat-form-container form {
    display: flex;
  }
  
  .chat-form-container input[type='text'] {
    /*---*/
  }
  
  /* Join Page */
  .join-container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
  }
  
  .join-header {
    text-align: center;
    padding: 20px;
    background: var(--dark-color-a);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .join-main {
    padding: 30px 40px;
    background: var(--dark-color-b);
  }
  
  .join-main p {
    margin-bottom: 20px;
  }
  
  .join-main .form-control {
    margin-bottom: 20px;
  }
  
  .join-main label {
    display: block;
    margin-bottom: 5px;
  }
  
  .join-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
  }
  
  .join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
  }
  
  .join-main .btn {
    margin-top: 20px;
    width: 100%;
  }
  
  @media (max-width: 700px) {
    .chat-main {
      display: block;
    }
  
    .chat-sidebar {
      display: none;
    }
  }

 /* about.ejs  */
.about-container{
  position: relative;
  width: 1000px;
  height:600px;
  margin: 100px auto;
  /* background-color: #018957; */
}

.about-container .box{
  position: relative;
  width: calc(500px - 45px);
  height: calc(300px - 30px);
  float:left;
  background-color: rgb(225, 245, 179);
  margin:15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.about-container .box .icon{
  position: absolute;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}

.about-container .box:hover .icon{
  top: 20px;
  background-color:#018957;
  left:calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.about-container .box .icon .fa{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition:0.5s;
  /* color:#fff; */
}
.about-container .box:hover .icon .fa{
  font-size: 40px;
}

.about-container .box .content{
  position: absolute;
  top: 100%;
  height: calc(100% - 80px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.about-container .box:hover .content{
  top: 100px;
  opacity: 1;
}

.about-container .box .content h3{
  margin: 0 0 10px;
  padding: 0;
  color: rgb(3, 3, 3);
}
.about-container .box .content p{
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}

.about-container .box:nth-child(1).icon{
  background: #018957;
}
.about-container .box:nth-child(1){
  background: rgb(225, 245, 179);
}

.about-container .box:nth-child(2).icon{
  background: #018957;
}
.about-container .box:nth-child(2){
  background: rgb(225, 245, 179);
}
.about-container .box:nth-child(3).icon{
  background: #018957;
}
.about-container .box:nth-child(3){
  background: rgb(225, 245, 179);
}

.container-f{
  margin-top: 50px;
}
