* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
  top: 0;
  width:100%;
}

body {
    flex-direction: column;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 100%;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
  }
  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }
  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }
  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }
  #message-input {
    flex-grow: 1;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 1%;
    margin: 1%;
  }

  .chat-container{
    width:50%;
    height:auto;
  }

  